@charset "UTF-8";

/* 共通スタイル */
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Klee One", "Noto Serif JP", "Noto Sans JP", "cursive", serif, sans-serif;
  line-height: 1.7;
  color: rgb(23, 23, 23);
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
li {
  list-style: none;
}
h2{
  /* background-color: pink; */
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
}
h3 {
  width: 70%;
  border-bottom: 1px dashed rgb(204, 204, 204);
  margin-bottom:1rem;
}
.click{
border: 1px solid rgb(204, 204, 204,0.6);
background-color:rgb(204, 204, 204,0.3) ;
padding:0.2rem 0.5rem;
width: 200px;
text-align: center;
}
.click:hover{
background-color:rgb(255, 255, 255) ;
}
/*--------------- 全体レイアウト----------------- */
header,
footer,
section {
  width: 1000px;
  margin: 0 auto;
  /* background-color: aqua; */
}
header,
footer {
  height: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    text-align: center;
}
section{
    margin-bottom: 5rem;
}
.w70{
  width: 70%;
}
.w90{
  width: 90%;
}
/*--------------- JavaScriptのナビ----------------- */
#nav{
    position: fixed;
    top: 100px;
    /* セクションの右端に揃える */
    right: calc((100% - 1000px) / 2);
    /* background-color: pink; */
}
nav li {
  border-bottom:1px dashed rgb(204, 204, 204);
  padding-bottom:0.9rem;
  padding-top:0.9rem;
  transition: all 0.3s;
}
nav li:hover{
  background-color:rgb(204, 204, 204,0.3) ;
}
.hamburger {
  /* デフォルトは非表示（PCでは使わない） */
  display: none;
  cursor: pointer;
  z-index: 999;
  }
/*--------------- スキル・自己紹介----------------- */
.skill{
  padding-bottom: 30px;
}
.megumi img{
  width: 150px;
  height: auto;
}
/*--------------- バナー----------------- */
.banner{
  margin-bottom: 5rem;
  display: flex;
  gap:1rem;
}
.banner img{
  max-width: 460px;
  height: auto;
}
/*--------------- webサイト----------------- */
.white{
  padding:0 0.8rem 0 0;
  background-color: #ffffff;
  border: 1px solid rgb(204, 204, 204,0.6);
}
.gold{
  padding:0 0.48rem;
  background: linear-gradient(270deg, #c9ab1b, #f8e72b);
}
.navy{
  padding:0 0.48rem;
  background-color: #222136;
  color:#ffffff
}
/*--------------- flexレイアウト----------------- */
.flex_long{
  display: flex;
  gap:1.3rem;
  width: 70%;
}
.flex_now,
.flex_management{
  display: flex;
}
.flex_now,
.flex_management{
  margin-bottom: 3rem;
}

.flex_long img,
.flex_mp img{
  width: 340px;
  height: auto;
}
.flex_mp{
  width: 70%;
}
.now-left{
  width: 20%;
}
.flex_management_left{
  width: 14%;
}
/* 画面幅が1000px以下の場合 */
@media(max-width:1000px){
  header,
  footer,
  section {
  width: 90%;
  }
  .w70{
    width: 70%;
  }
  .w70 img{
    max-width: 100%;
    height: auto;
  }
  .w90{
    width: 100%;
  }
  #nav{
      /* セクションの右端に揃える */
      right: calc((100% - 90%) / 2);
  }
  .flex_management_left{
    width: 23%;
  }
}
/* 画面幅が800px以下の場合 */
@media(max-width:800px){
  .hamburger{
  display: block !important; /* 優先度を強制的に高く */
  }
  #nav ul {
  display: none; /* デフォルトでは非表示 */
  }
  #nav ul.open {
  display: block; /* ボタンで開いた時に表示 */
  }
  #hum{
      display: block;
  }
  #hum.open{
      display: none;
  }
  #batu{
      display: none;
  }
  #batu.open{
      display:block;
  }
  header,
  footer,
  section {
  width: 90%;
  }
  .w70{
    width: 100%;
  }
  h3 {
    width: 100%;
  }
  #nav{
      /* セクションの右端に揃える */
      right: calc((100% - 90%) / 2);
      background-color: #ffffff;
      padding-left: 10px;
  }
  .banner{
    display: block;
  }
  .banner p{
    width: 100%;
  }
  .banner img{
    max-width: 100%;
    height: auto;
  }
  iframe{
    width: 100%;
  }
  .flex_long,
  .flex_mp,
  .flex_now,
  .flex_management,
  .now-left,
  .flex_rigth,
  .flex_management_left{
    display: block;
    width: 100%;
  }
  .flex_long img,
  .flex_mp img{
    max-width: 100%;
}
  
}
