@charset "UTF-8";
/* Google Fontsのインポート */
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  font-family:  "Klee One", serif;
  /* background-color: rgb(232, 250, 244); */
  width: 100%;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

a {
  text-decoration: none; /* 下線を削除 */
  color: inherit; /* 親要素の色を継承 */
}
aside nav ul li a {
  display: block; /* ブロック要素として表示 */
  width: 100%;
  height: 100%;
  cursor: pointer; /* ポインターカーソルを表示 */
}
/*--------------- 全体レイアウト----------------- */
header,
footer,
section {
  margin: auto;
  padding: 1rem;
  width: 80%;
  /* border: 1px solid black; */
}
header,
footer {
  min-height: 100px;
  /* background-color: antiquewhite; */
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
  display: grid;
  place-items: center;
}
section{
  margin-bottom: 3.3rem;
  /* background-color: aliceblue; */
}
.click{
  display: inline-block;
  border: 1px solid rgb(204, 204, 204,0.6);
  background-color:rgb(204, 204, 204,0.3) ;
  padding:0.2rem 0.5rem;
  width: 200px;
  text-align: center;
  margin-top: .8rem;
  }
  .click:hover{
  background-color:rgb(255, 255, 255) ;
  }
/*--------------- 調整レイアウト----------------- */
header .top{
  font-size: 1.7rem;
}
h2{
  /* background-color: pink; */
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
}
h3 {
  width: 70%;
  border-bottom: 1px dashed rgb(204, 204, 204);
  margin-bottom:1rem;
  margin-top:1rem;

  font-size: 1.2rem;
}
small{
  font-size: 0.75rem;
}
.w70{
  width: 70%;
}
.w35{
  width: 35%;
}
.w20{
  width: 20%;
}
.flex {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.flex:last-child{
  margin-bottom: 0;
}
.flex_left{
  width: 13%;
}
/*--------------- スキル・自己紹介----------------- */
.skill{
  padding-bottom: 30px;
}
.megumi {
  width: 100px;
  height: auto;
}
/*--------------- バナー----------------- */
.banner{
  margin-bottom: 5rem;
  display: flex;
  gap:1rem;
  width: 70%;
}
.banner img{
  max-width: 360px;
  height: auto;
}
.img-smart {
  border: 4px solid rgb(204, 204, 204,0.6);
  border-radius: 15px;
}
/*--------------- GAS----------------- */
.img-gas {
  margin-top: 1rem;
  max-width: 780px;
  height: auto;
}
.img-gas img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.img-gw {
  margin-top: 3rem;
  max-width:780px;
  height: auto;

}
.img-gw img {
  width: 100%;
  height: auto;
  object-fit: contain;
    border: 1px solid rgb(204, 204, 204);
}
.under {
  position: relative;
  display: inline-block;
}
.under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.05em;
  width: 100%;
  height: 1em; /* 線の太さを調整 */
  background: #ffef3b;
  z-index: -1;
  border-radius: 0.2em;
  opacity: 0.4;
}
/*--------------- webサイト----------------- */
.white,
.gold,
.navy {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.white::before{
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border: 1px solid rgb(204, 204, 204,0.6);
}
.gold::before{
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: linear-gradient(270deg, #c9ab1b, #f8e72b);
}
.navy::before{
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #222136;
}
.img340{
  width: 400px;
  height: auto;
}
.img160 {
  width: 160px;
  height: auto;
}
.category {
    font-size: 1.25rem;
}
.click-studio {
width: auto;
padding:0.2rem 1rem;
}
/*--------------- サイドナビゲーション----------------- */
aside {
  padding: 1rem;
  background-color: rgb(255, 255, 255, 0.95);
  width: 20%;
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  right: 10%;
  /* 縦方向のスクロールを有効にする */
  overflow-y: auto;
  /* 横方向のスクロールを非表示にする */
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox用 */
  -ms-overflow-style: none; /* IE/Edge用 */
  z-index: 3;
}
/* スクロールバーを非表示にする */
aside::-webkit-scrollbar {
  display: none; /* Chrome, Safari用 */
}

aside nav ul li {
  border-bottom:1px dashed rgb(204, 204, 204);
  cursor: pointer;
  /* padding: 1rem  0.5rem 1rem 0.5rem; */
  transition: all 0.3s;
}
aside nav ul li a{
  display: block;
  padding: 1rem  0.5rem 1rem 0.5rem;

}

aside nav ul li:hover {
  background-color:rgb(204, 204, 204, 0.3);
}
aside nav ul li.change{
  background-color:rgba(204, 204, 204, 0.3);
}

aside nav ul li:last-child {
  margin-bottom: 0;
}

aside nav ul li .submenu {
  display: none;
  background-color: #ffffff;
}
aside nav ul li .submenu li a{
  display: block;
  padding: 0.7rem 0.5rem;
  /* background-color: aqua; */

}
aside nav ul li .submenu li {
  /* padding: 0.7rem 0.5rem; */
  border-bottom:1px dashed rgb(204, 204, 204);
}
aside nav ul li .submenu li:last-child {
  border-bottom: none;
}
aside nav ul li .submenu li:first-child {
  margin-top: 0.5rem;
}
aside nav ul li:hover .submenu {
  display: block;
}

header .hmb {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

header .hmb span {
  width: 40px;
  height: 2px;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

/* スマホ用のメディアクエリ */
@media (max-width: 800px) {
  header,
  footer,
  main,
  section {
    width: 100%;
  }
  /*--------------- 調整レイアウト----------------- */
  h3 {
    width: 100%;
  }
  .w70{
    width: 100%;
  }
  .w35{
    width: 100%;
  }
  .w20{
    width: 100%;
  }
  .flex {
    display: block;
  }
  .flex_left{
    width: 100%;
  }
  iframe{
    width: 100%;
  }
  /*--------------- バナー----------------- */
  .banner{
    display: block;
    width: 100%;
  }
  .banner img{
    max-width: 100%;
  }
/*--------------- GAS----------------- */
.img-gas {
  margin-top: 1rem;
  max-width: 800px;
  height: auto;
}
.img-gas img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.img-gw {
  margin-top: 1rem;
  max-width: 200px;
    height: auto;
}
.img-gw img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
  /*--------------- webサイト----------------- */
  .img340{
    max-width: 100%;
  }
  /*--------------- サイドナビゲーション----------------- */
  aside {
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s;
  }

  aside.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    right: 0;
    width: 70%;
  }

  aside.active nav ul li {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
  }

  aside nav ul li {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  aside.active  nav ul li{
    animation: slideIn 1.1s forwards;
  }

  aside.active nav ul li:nth-child(1) {
    animation-delay: 0.1s;
  }

  aside.active nav ul li:nth-child(2) {
    animation-delay: 0.2s;
  }

  aside.active nav ul li:nth-child(3) {
    animation-delay: 0.3s;
  }

  aside.active nav ul li:nth-child(4) {
    animation-delay: 0.4s;
  }

  aside.active nav ul li:nth-child(5) {
    animation-delay: 0.5s;
  }

  aside.active nav ul li:nth-child(6) {
    animation-delay: 0.6s;
  }

  aside.active nav ul li:nth-child(7) {
    animation-delay: 0.7s;
  }

  aside.active nav ul li:nth-child(8) {
    animation-delay: 0.8s;
  }

  aside.active nav ul li:nth-child(9) {
    animation-delay: 0.9s;
  }

  aside.active nav ul li:nth-child(10) {
    animation-delay: 1s;
  }

  aside.active nav ul li:nth-child(11) {
    animation-delay: 1.1s;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  header .hmb {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }

  header .hmb span {
    opacity: 1;
    visibility: visible;

  }

  header .hmb.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }

  header .hmb.active span:nth-child(2) {
    opacity: 0;
  }

  header .hmb.active span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
  }
}