/* 共通 -----------------------------------------------*/
* {
    box-sizing: border-box;
}
body{
    /* font-family: "Zen Old Mincho", serif; */
    font-size: 100%;

}
a {
    text-decoration: none;
    color:inherit;
}
span{
    font-size: 0.9rem;
}
li{
    list-style: none;
    padding:2px 20px;
    background-color: #ffffff;
    transition: all 0.2s;
}
li:hover{
    box-shadow : 0px 1px 1px 0px #989898;
    translate: 0 2px;
}
header p,
footer p{
    padding:2px 20px;
    background-color: #ffffff;
    transition: all 0.2s;
}
header p:hover,
footer p:hover{
    box-shadow : 0px 1px 1px 0px #989898;
    translate: 0 2px;
}
h2{
    font-weight: normal;
    margin-bottom: 40px;
}
/* ナビ -------------------------------------------------------*/
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* 全体レイアウト -----------------------------------------------*/
header,footer,nav,main{
    width: 100%;
    padding:30px 200px;
}
section{
    width: 100%;
    padding:15px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
header,footer{
    background-color: #dfdfdf;
    text-align: right;
}
header p,footer p{
    background-color: #ffffff;
    display: inline-block;
    padding:2px 20px;
}
nav{
    background-color: rgb(236, 236, 236);
    margin-bottom: 60px;
}

/* 今日の日付 --------------------------------------------*/
.dateDisplay{
    
    line-height: 4rem;
    font-size: 1rem;
    
    margin-top: 10rem;
    text-align: right;
}

/* 配列 -----------------------------------------------*/
.items img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s;
}
.items{
    display: flex;
    gap:50px 13px;
    flex-wrap: wrap;
}
.items img:hover{
    scale: 0.95;
}
h4{
    font-size: 1.1rem;
    font-weight: normal;
}

/* 監視 -----------------------------------------------*/
.vh100{
    height: 100vh;
}
.layout1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
}

/* 監視2forEach -----------------------------------------*/
.layout2{
    display: grid;
    grid-template-columns:1fr 1fr;
    place-items: center;
}

/* モーダル --------------------------------------------*/
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.6);
    opacity: 0;
    visibility: hidden; 
}
.layer.active{
    opacity: 1;
    visibility: visible;
}
.modal{
    width: 600px;
    height: 400px;
    transition: all 1s;
    background-color: rgb(255, 255, 255);
    border: 1px solid #989898;
    border-radius: 10px;
    display: grid;
    place-content: center;
    text-align: center;
    margin: auto;

    opacity: 0;
    visibility: hidden;
    transition: all 1.2s;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.modal.active{
    opacity: 1;
    visibility: visible;

    
}
.close,.click{
    cursor: pointer;
    border: 1px solid #989898;
    padding:2px 20px;
    background-color: #ffffff;
    display: inline-block;
}

/* アコーディオンメニュー --------------------------------------------*/
.menu-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: white;
    border: 1px solid #989898;
    cursor: pointer;
    padding:15px;
    cursor: pointer;
}
.toggle_btn {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
}
.toggle_btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    transition: .5s;
}
.toggle_btn.active::before {
    transform: translateX(-10px);
    opacity: 0;
}
.toggle_btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    transform: rotate(90deg);
    transition: .5s;
}
.toggle_btn.active::after {
    transform: rotate(0deg);
}
.menu-box{
    width: 40%;
    height: auto;
}
.menu-items{
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    border: solid 1px #989898;
    border-top: none;
    transition: all 1s;
}
.menu-items.active{
    opacity: 1;
    visibility: visible;
}

.menu-item{
    background-color: rgb(228, 254, 254);
    padding:15px;
    cursor: pointer;  
}
.menu-item:hover{
    font-weight: bolder;
}
.menu-item:not(:last-child){
    border-bottom: 1px solid #989898;
}

/* スライドメニュー --------------------------------------------*/
.menuB{
    background-color: #eaeaea;   
    width: 800px;
    height: 100vh;
    position: relative;
}
.toggle_open{
    padding: 15px;
    text-align: right;
    cursor: pointer;
}
.toggle_close{
    cursor: pointer;
    padding: 15px;
    text-align: right;
}
.menu-boxB{
    background-color: #ffffff;   
    border:1px solid #989898;
    width: 300px;
    height: 100%;
    position: absolute;
    top:0;
    left: 800px;
    opacity:0;

}
.menu-itemB{
    padding: 15px;
    cursor: pointer;
    background-color: rgb(228, 254, 254);    
}
.menu-itemB:not(:last-child){
    border-bottom: 1px solid #989898;
}
.menu-itemB:hover{
    font-weight: bolder;
    background-color: rgb(196, 253, 253);
}

/* スライドメニュー --------------------------------------------*/
.slideshow-container {
position: relative;
max-width: 100%;
height: 600px;
margin: 80px auto;
}
  
.slide {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0;
transition: opacity 1s ease;
z-index: 1;
}

.slide.active {
opacity: 1; 
z-index: 2;
}

.slide img {
width: 100%;
height: 100%;
object-fit: cover;

}

.prcoment{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 10;
font-size: 3rem;
color: #ffffff;
font-weight: bold;
}

/* イベントの後にテキストが変わる --------------------------------------------*/
.container{
    width: 200px;
    height: 200px;
    border: 1px solid #0c0603;
    color: #ffffff;
    transition: all 1.5s;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: #0c0603;
}
.container.show{
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);

}
.t-end{
    font-size: 1.2rem; 
    border-radius: 10px;
    cursor: pointer;
    transition: all 1.5s;
}
.t-end.show{
    color:#ffffff;
    font-size:3rem;
}

/* ローディング --------------------------------------------*/
.section{
    width: 100%;
    opacity: 0;
}
.section.visible{
    opacity: 1;
}
.section p{
    height: 30vh;
}
.loader-container{
    position: fixed;
    inset: 0;
    z-index: 999;
    background: #0c0603;
    display: grid;
    place-items: center;
}
.loader-container.hidden{
    opacity: 0;
    visibility: hidden;
}

.loader{
    width: 64px;
    height: 64px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    /* 透明 */
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spin 0.8s ease infinite alternate;
}
@keyframes spin{
    0%{
        transform: rotate(0deg) scale(1);

    }
    100%{
        transform: rotate(360deg) scale(2);
    }
}

/* 翻訳アプリ------------------------------------------------------ */
.honyaku-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width:  1000px;
}
.from,.to{
    width: 50%;
}

textArea{
    width: 100%;
    height: 300px;
    border: none;
    outline: none;
    background: none;
    resize: none;
    border-radius: 4px;
    border: 1px solid #444444;
    padding:10px;
}
.honyaku-options{
    display: flex;
    justify-content: center;
    gap:20px;
}
.kikukopi{
    display: flex;
    gap:5px;
}

select{
    line-height: 32px;
    font-size: 16px;
    border: 1px solid #444;
    padding:0 4px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ececec;
}
select:hover{
    background-color: #ffffff;
}
.kikukopi p:hover{
    background-color: #ffffff;
}
.honyaku-btn:hover{
    background-color: #ffffff;
    border: 1px solid #444;
}

.kikukopi p{
    line-height: 32px;
    font-size: 16px;
    border: 1px solid #444;
    padding:0 4px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ececec;
}
.honyaku-btn{
    width: 200px;
    height: 38px;
    border: none;
    outline: none;
    background-color: #c2c2c2;
    
    color: #000000;
    font-size: 16px;
    line-height: 38px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: auto;
}
.center1000{
    width: 1000px;
    margin-top: 40px;
}

/* 郵便番号 --------------------------------------------*/
.zip{
    width: 100%;
    margin: auto;
}
.zipform{
    background-color: #e2e2e2;
    padding:20px;
    width: 100%;
    margin: auto;
}

.zipform input{
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 3rem;
    padding:10px;
    margin-bottom: 2rem;
}
.zipform label{
    padding: 10px;
    line-height: 2rem;
}

/* カレンダー --------------------------------------------*/
.calendar{
    background-color: #ebebeb;
    padding:10px;
    font-size: 1.1rem;
    width: 500px;
}
.calendar table{
    width: 100%;
}
.calendar td{
    background-color: #ffffff;
    padding:10px;
    text-align: center;
}

.hiniti{
    font-size: 0.9rem;
    text-align: right;
}
/*  カラー占い--------------------------------------------*/
.fortune{
    border: 1.5px solid rgb(107, 107, 107);
    border-radius: 3px;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
}
.fortune:hover{
    background-color: rgb(107, 107, 107);
    color: #ffffff;
    transform: scale(0.85);
}
.fortune-result{
    width: 200px;
    height: 200px;
    color: #ffffff;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 50%;
}
.fortune-result-comment{
    font-size: 1.3rem;
}
.fortune-result-wrapper{
    display: flex;
    gap:2rem;
    align-items: center;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
    color: #5c5c5c;
}
.purple{
    background-color: purple;
}
.green{
    background-color: green;
}
/*  swiper1--------------------------------------------*/
.swiper,
.swiper2
{
    width: 100%;
    height: 200px;
}
.swiper-slide,
.swiper2 .swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper-slide img,
.swiper2 .swiper-slide img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-wrapper,
.swiper2 .swiper-wrapper
{
    transition-timing-function: linear;
}
/*  swiper2 cube--------------------------------------------*/
.swiper-cube
{
    width: 800px;
    height: 500px;
    margin: auto;
}
.swiper-cube2{
    width: 800px;
    height: 100px;
    margin: auto;
}
/*  タブ--------------------------------------------*/
.tab-wrapper{
    margin: 0 auto;
    width: 1000px;
}
.tabs-title{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2px;
}
.tabs-title p{
    width: 25%;
    padding: 10px 20px;
    border-radius: 15px 15px 0 0;
    background-color: #dfdfdf;
    /* display: none; */
    cursor: pointer;
}
.tabs-title p.active{
    display: block;
    background-color: #ffffff;
    border-top:1px solid #989898;
    border-right: 1px solid #989898;
    border-left: 1px solid #989898;
}
.tabs-title p:hover{
    background-color: #ececec;
}
.tabs-contents p{
    padding: 30px 20px;
    width: 100%;
    height: 300px;
    border-bottom:1px solid #989898;
    border-right: 1px solid #989898;
    border-left: 1px solid #989898;
    display: none;
    
}
.tabs-contents p.active{
    display: block;
}
/*  --------------------------------------------*/


