@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

// #root, .App {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }


section {
  padding: 3rem 0;
  width: 80%;
  margin: 0 auto;
  background-color: aqua;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 3rem;

  h1{
    margin-bottom: 1rem;
  }

  button {
    padding: 5px 10px;
    border: none;
    border-radius: 0 9px 0 9px;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  p{
    font-size: 1.2rem;
  }
}
