@charset "UTF-8";
/* 共通部分 */
* {
    box-sizing: border-box;
    /* float: none; */
	/* position: static; */
}

img {
	max-width: 100%;
	height: auto;
}
html,body {
    overflow-x: hidden;
  }

html {
    font-size: 100%;
    scroll-padding-top:80px;
    scroll-behavior: smooth;
}

.smart{
    width: 360px;
    margin: 0 auto;
}
.smart-s{
    width: 90%;
    margin: 0 auto;
}

body{
    font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
    line-height: 1.7;
    color: #212121;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:#212121;
}

/* ヘッダー */
.menu-pc{
    display: none;
}
header{
    height: 80px;
    width: 100%;
    padding:1rem 0;
    background-color: #ffffff;
    position: fixed;
}
.header-logo img{
    height: 40px;
    width: auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ハンバーガーメニュー */
.menu{
    display: block;
}
ul{
    background-color: rgb(255, 255, 255,0.8);
    position: absolute;
    top:80px;
    right: -120px; 
    width: 120px;
    padding:2rem 0;
    opacity: 1;
    z-index: 999;
}
ul.active{
    right: 0px; 
    transition: all 0.5s;
    position: absolute;
    z-index: 999;
}
li{
    display: block;
    cursor: pointer;
    list-style: none;
    text-align: center;
    line-height: 2.6rem;
    border-bottom:0.9px solid #0d0d0d;
    margin:0 10px;
}
li:hover{
    background-color: #ffffff;
    transition: all 0.8s;
}
#hum{
    display: block;
}
#hum.active{
    display: none;
}
#batu{
    display: none;
}
#batu.active{
    display:block;
}

/* メイン */
main{
    background-image: url(img/mv.jpg);
    background-size: cover;
    padding-bottom: 2rem;
}
h2{
    padding-top:100px;
    padding-bottom:20px;
    /* padding-left: 4.375rem; */
    /* font-size: 4.375rem; */
    font-size:2rem;
    font-weight: normal;
    color: #ffffff;    
}
h3{
    /* padding-top:2rem; */
    /* padding-left: 4.375rem; */
    padding-bottom:1.5rem;
    /* padding-bottom:2rem; */
    color: #ffffff;  
    /* font-size: 1.5rem; */
    font-size:1rem;
    font-weight: normal;
}
#main-btn {
    /* margin-left: 4.375rem; */
    text-align: center;
	color: #fff;
    font-size:1.4rem;
	display: inline-block;
	overflow: hidden;
	padding: 1rem 4rem;
	position: relative;
	text-decoration: none;
    border: 1px solid #ffffff;
    z-index: 10;
}
#main-btn::after {
	animation: 4s 0s shine linear infinite;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%);
	content: '';
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	transform: skewX(-45deg);
	width: 50%;
    z-index: 10;
}
@keyframes shine {
	20% {
		left: 150%;
	}
	100% {
		left: 150%;
	}
}
#main-btn:hover{
    background-color: rgb(255, 254, 254,0.4);
}

/* サービス */
h4{
    font-size: 1.5rem;
    /* padding-top:3rem; */
    text-align: center;
}
.p-blue{
    font-size: 0.875rem;
    color: #0071bc;
    margin-bottom:2rem;
    text-align: center;
}
.servive-1 .p-18{
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.p-14{
    font-size: 0.875rem;
}
.service{
    background-color: ffffff;
    padding:3rem 0;
}
.servive-1{
    margin-bottom:2rem;
    border:1px solid #43bcff;
    border-radius: 6px;
    padding:1rem 1.5rem;
}
#service{
    padding-top:3rem;
}

/* お客様の声 */
.voice{
    background-color: #f0f0f0;
    padding:3rem 0;
}
.voice-1{
    padding:1rem 1.5rem;
}
.p-16{
    font-size: 1rem;
    margin-bottom:0.4rem;
}

/* 会社概要 */
.company{
    padding:120px 0 60px;
}
.company-line{
    display: flex;
    padding:1rem ;
    gap:2rem;
    border-bottom:1px solid #43bcff;
}
.company-line-none{
    border-bottom: none;
}
.company-flex-colum{
    flex-direction: column;
}

.company-img{
    padding:2rem 0 4rem;
}
.item{
    text-align-last: justify;
    width: 4rem;
    position:relative;
}
.item::after{
    position: absolute;
    top:0;
    left:125%;
	content: "";
	width: 1px;
	height: 2rem;
	background-color: #c6c6c6;
}
.map iframe{
    padding-top:1rem;
    width: 300px;
    height: 300px;
    
}

/* オフィス案内 */
.office{
    background-image: url(img/bg_footer.jpg);
    background-size: cover;
}
.flex-office{
    padding:2.5rem 0;
}
.office-1{
    margin-bottom: 2rem;
    padding:0 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:2.5rem;
}
.office-2{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
}
.office-2:hover{
    background-color: rgb(255, 255, 255,0.5);
    transition: all 0.5s;
}
.p-office{
    border: 2px solid #0071bc;
    border-radius: 18px;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}
.p-30{
    font-size:1.2rem;
}
.p-30 span{
    font-size: 1.1rem;
    padding-right: 0.2rem;
}
.mail{
    width: 80px;
    height: auto;
}
.p-24{
    font-size: 1.2rem;
} 
/* フッター */
footer{
    height: 80px;
    background-color: #1b5d88;
}
.footer-logo{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
}