@charset "UTF-8";

//-------------------------------- 
// カスタムプロパティの定義 
//--------------------------------
:root {
  --main-text: #222831;
  --red: #ae2a5b;
  --white-gray: #f7f7f7;
  --silver: #c0c0c0;

  --z-bg: -1;
  --z-base: 1;
  --z-base-over: 2;
  --z-header: 20;
  --z-hero: 30; 
  --font: 'Zen Kaku Gothic New', 'Cormorant', sans-serif;
  --font-en: 'Cormorant', serif;
}

/*-------------------------------- 
// 自分用の追加リセット・調整 
//--------------------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

//⭐︎⭐︎----------------------------
//⭐︎⭐︎基本設定⭐︎⭐︎
//----------------------------⭐︎⭐︎
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 17px;
  line-height: 1.8;
  color: var(--main-text);
  scroll-behavior: smooth;
  font-family: var(--font);
  @media screen and (max-width: 640px) {
    scroll-behavior: auto; // noneは不可、autoが正解
  }
}
.en {
   font-family: 'Cormorant', serif;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
//⭐︎⭐︎----------------------------
//⭐︎⭐︎共通クラス⭐︎⭐︎
//----------------------------⭐︎⭐︎
h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
}
h4 {
  font-size: 2rem;
  margin: 0 auto 1.6rem;
}
h5 {
  font-size: 1.6rem;
}
.p-red {
   color: #ae2a5b;
   font-weight: bold;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}
//⭐︎⭐︎----------------------------
//⭐︎⭐︎文字サイズ⭐︎⭐︎
//----------------------------⭐︎⭐︎
@media (max-width: 1024px) {
  html { font-size: 16px; }
}
@media (max-width: 768px) {
  html { font-size: 14px; }
}
@media (max-width: 480px) {
  html { font-size: 12px; }
  p { font-size: 1.2rem; }
}

//⭐︎⭐︎----------------------------
//⭐︎⭐︎横幅inner-width⭐︎⭐︎
//----------------------------⭐︎⭐︎
.inner-width {
  max-width: 1024px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 768px;
    padding: 0 1.5rem;
  }
  @media (max-width: 480px) {
    max-width: 480px;
    padding: 0 1rem;
  }
}
//-------------------------------- 
// ナビゲーション固定 
//--------------------------------
header {
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: var(--z-header);
  pointer-events: auto; // ← 追加
  @media (max-width: 768px) {
    width: 100vw;
    // z-index: 31;
  }
  nav {
    position: relative;
    pointer-events: auto; // ← 追加
    @media (max-width: 768px) {
    width: 100%;
    // z-index: 31;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(./img/stone.webp) no-repeat center center;
      z-index: var(--z-bg);
      opacity: 0.8;
      pointer-events: none;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      li {
        font-family: var(--font-en);
        color: var(--main-text);
        a {
          padding: .25rem 1.5rem;
          display: block;
        }
      }
    }
  }
}

// #menu,
// #concept,
// #map,
// #reserve {
//   scroll-margin-top: 7rem; // ← headerの高さに合わせて調整
// }

//-------------------------------- 
// ヘッダーロゴ 
//--------------------------------
// .header-logo {
//   position: absolute;
//   top: 0;
//   left: 0;
//   .logo {
//     width: 120px;
//     height: auto;
//     padding: 1rem;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: contain;
//     }
//   }
// }
//-------------------------------- 
// ファーストビュー 
//--------------------------------
.first {
  width: 100%;
  height: 100dvh;
  height: 100vh; 
  position: relative;



  .first-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-hero);
    pointer-events: none; 

    &-black {
      background-color: var(--main-text);
      width: 100%;
      height: 50%;
      animation: blackRight 2s forwards 1s;
    }
    &-white {
      background-color: #ffffff;
      width: 100%;
      height: 50%;
      animation: whiteLeft 2s forwards 1s;
    }
    &.hide {
      opacity: 0; // 要素を透明にする（フェードアウト）
      z-index: var(--z-bg); // -1; // 他の要素の背面に移動
      pointer-events: none; // クリックやタップを無効化
      transition: opacity 0.5s, z-index 0s 0.5s; // opacityは0.5秒で変化、z-indexは0.5秒後に即座に変化
    }
  }

  .message {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    font-size: 2rem;

    @media (max-width: 768px) {
      left: 50%;
      bottom: 3%;
      right: auto;
      transform: translateX(-50%);
      width: 95%;
      font-size: 1.5rem;
    }

   .line {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow: visible;
      margin-bottom: 2rem;
      .box {
         position: relative;
         width: fit-content;
         .box-shadow {
            position: absolute;
            top: 8px;
            left: 8px;
            width: 100%;
            height: 100%;
            background-color: var(--main-text);
            clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
         }
         p {
            background-color: #ffffff;
            padding: .25rem 4rem;
            color: var(--main-text);
            position: relative;
            clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
         }
      }
      .box:nth-child(3) {        
         p {
            background-color: var(--main-text);
            color: #fff;
         }
         .box-shadow {
            background-color: #fff;
         }
      }
      .box:nth-child(1) {
         p {
            padding: .25rem 2rem;
            font-size: 1.5rem;
         }
      }
   }

    .btn {
      padding: 1rem 2rem;
      background-color: var(--main-text);
      color: var(--white-gray);
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: relative;
      overflow: hidden;
      pointer-events: auto;
      &::before {
         content: "";
         position: absolute;
         top: -50%;
         left: -50%;
         width: 200%;
         height: 200%;
         background: linear-gradient(
            120deg,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0.6) 50%,
            rgba(255,255,255,0) 100%
         );
         transform: translateX(-100%) skewX(-20deg);
         pointer-events: none;
         animation: shine 3s linear infinite;
         animation-delay: 1.5s;    
      }
      @media screen and (max-width: 640px) {
        margin-bottom: 3rem;
      }
      .arrow-shin {
        width: 55px;
        height: .5px;
        background-color: #ffffff;
        position: relative;
        transition: width 0.3s ease;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(35deg);
          width: 15px;
          height: .5px;
          background-color: #ffffff;
          transform-origin: right bottom;
        }
      }
      &:hover .arrow-shin {
        width: 70px;
      }
    }
  }
}
@keyframes shine {
  0% {
    transform: translateX(-100%) skewX(-20deg);
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateX(100%) skewX(-20deg);
    opacity: 0;
  }
  100% {
    transform: translateX(100%) skewX(-20deg);
    opacity: 0;
  }
}
@keyframes blackRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes whiteLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
//-------------------------------- 
// 共通クラス　タイトル　lead Hotopepperリンク
//--------------------------------
.title {
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
  font-family: var(--font-en);
  z-index: var(--z-base);
  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
  &::before {
    content: "MENU";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 12rem;
    background: linear-gradient(90deg, #c9c9c9, #eeeeee, #cdcdcd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: var(--font-en);
    z-index: var(--z-bg);
    opacity: .45;
    @media (max-width: 768px) {
      font-size: 8rem;
    }
    @media (max-width: 480px) {
      font-size: 6rem;
    }
  }
}
.lead {
  width: fit-content;
  margin: 0 auto 5rem;
  @media (max-width: 768px) {
    width: 95%;
    padding: 0 1rem;
  }
  .highlight {
    display: inline-block;
    background-color: var(--main-text);
    padding: 0 1rem;
    color: var(--white-gray);
    margin: 0 .3rem;
  }
}
@keyframes arrowDown {
  0%   { transform: translateY(0) scaleY(1);}
  30%  { transform: translateY(10px) scaleY(1.4);}
  60%  { transform: translateY(0) scaleY(1);}
  100% { transform: translateY(0) scaleY(1);}
}
//-------------------------------- 
// Hotopepperへのリンクボタン
//--------------------------------
.btn-link-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
      width: 100%;
  }
}
.btn-lead {
  width: fit-content;
  background-color: #ffffff;
  color: var(--main-text);
  padding: .15rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  position: relative;
  z-index: var(--z-base-over);
  margin-bottom: -.5rem;
  font-size: 1.1rem;
}
.btn-link{
  padding: 1rem 5rem;
  background-color: var(--main-text);
  color: var(--white-gray);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: fit-content;
  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      120deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.6) 50%,
      rgba(255,255,255,0) 100%
    );
    transform: translateX(-100%) skewX(-20deg);
    pointer-events: none;
    animation: shine 3s linear infinite;
    animation-delay: 1.5s;    
  }
}
@keyframes shine {
  0% {
    transform: translateX(-100%) skewX(-20deg);
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: translateX(100%) skewX(-20deg);
    opacity: 0;
  }
  100% {
    transform: translateX(100%) skewX(-20deg);
    opacity: 0;
  }
}
//-------------------------------- 
// 矢印
//--------------------------------
  .link-arrow {
    position: relative;
    display: inline-block;
  }
  .link-arrow::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: .5px;
    background-color: #ffffff;
    transition: width 0.3s ease;
  }

  .link-arrow::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(35deg);
    width: 10px;
    height: .5px;
    background-color: #ffffff;
    transform-origin: right bottom;
    transition: transform 0.3s ease;
  }

.btn-link-menu:hover .link-arrow::after {
  width: 60px;
}
.btn-link-menu:hover .link-arrow::before {
  transform: translateX(20px) rotate(35deg); // 伸ばしたい長さに調整
}

//-------------------------------- 
// 共通　終わり
//--------------------------------
//-------------------------------- 
// メニュー
//--------------------------------
main {
  padding: 10rem 0;
  width: 100%;
  .sec-menu {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    padding: 0 5rem;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      padding: 0 1rem;
    }
    .under-lay {
      background: url(./img/002.jpeg);
      padding: 2rem;
      @media screen and (max-width: 1024px) {
        padding: 1.5rem;
      }
      .menu-item {
        padding: 4rem;
        background-color: rgb(255, 255, 255, .4);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 1024px) {
          padding: 2rem;
        }
        &::before {
          content: "";
          position: absolute;
          top: 5%;
          left: 5%;
          width: 90%;
          height: 90%;
          border: solid .5px var(--main-text);
          opacity: .25;
          @media screen and (max-width: 1024px){
            opacity: 0;
          }
        }
        .title2 {
          font-size: 2rem;
          margin: 0 auto;
          width: fit-content;
          padding: 0 1rem 0 1rem;
          border-bottom: .5px solid var(--main-text);
          border-right: .5px solid var(--main-text);
          font-family: var(--font-en);
          background-color: rgb(255, 255, 255, .3);
        }
        h5 {
          font-size: 1.4rem;
          border-bottom: .5px solid var(--main-text);
          width: fit-content;
          // background-color: rgb(255, 255, 255, .4);
          // padding: 0 .5rem;

        }
        .menu-img {
          overflow: hidden;
          width: 100%;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            flex: 1 1 0;
            min-width: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 4/3;
          }
        }
      } 
    }

  }
}
//-------------------------------- 
// コンセプト 
//--------------------------------
.sec-concept {
  padding: 10rem 0;
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/stone.webp);
    // filter: brightness(1.1) saturate(1.2) hue-rotate(160deg) opacity(0.7);
    filter: brightness(1.1);
    background-size: cover;
    // background-position: top left;
    // animation: conceptBgMove 10s linear infinite;
    z-index: var(--z-bg);
    animation: bgMove 10s linear infinite;
  }

  .title {
    &::before {
      content: "CONCEPT";
      @media (max-width: 768px) {
        font-size: 8rem;
      }
      @media (max-width: 480px) {
        font-size: 6rem;
      }
    }
  }

    .lead {
      font-family: var(--font-en);
      line-height: 2rem;;
    }
    .concept {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 25rem;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      margin-bottom: 10rem;
      
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        height: auto;
        width: 100%;
      }
      &:nth-of-type(2) {
        @media screen and (max-width: 1024px) {
          flex-direction: column-reverse;
        }
      }
      > * {
      flex: 1;
      }
      .concept-text {
        padding: 2rem;
        background-color: rgb(255, 255, 255, .9);
        margin-right: -10rem;
        position: relative;
        z-index: var(--z-base-over);
        @media screen and (max-width: 1024px) {
          margin-right: 0;
          margin-bottom: -5rem;
          width: 90%;
        }
        &:nth-child(2) {
          margin-left: -10rem;
          margin-right: 0;
          @media screen and (max-width: 1024px) {
          margin-left: 0;
          margin-bottom: -5rem;
          }
        }
        h4 {
          font-size: 1.6rem;
          border-bottom: .1px solid var(--main-text);
          border-right: .5px solid var(--main-text);
          padding-right: 1rem;;
        }
      }
      .concept-img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: var(--z-base);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

@keyframes conceptBgMove {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  60% {
    transform: scale(1.1);
    opacity: .09;
  }
  100% {
    transform:  scale(1);
    opacity: 0.4;

  }
}
//-------------------------------- 
// ホットペッパー予約 
//--------------------------------
.sec-reserve {
  width: 100%;
  padding: 10rem 5rem 0;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding: 10rem 2rem 0;
  }
  .reserve-bg {
    position: absolute;
    inset: 0;
    z-index: var(--z-bg);
    background-size: cover;
    background-position: center;
    background: url(./img/stone.webp);
    filter: brightness(1.1);
    animation: bgMove 10s linear infinite;
  }
  .title {
    &::before {
      content: "RESERVE";
      @media (max-width: 768px) {
        font-size: 8rem;
      }
      @media (max-width: 480px) {
        font-size: 6rem;
      }
    }
  }
  
  .reserve {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .web-reserve {
      width: 50%;
      padding: 2rem;
      background-color: #ffffff;
      border: solid .5px var(--red);
      position: relative;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        background-color: var(--red);
        // opacity: .3;
        z-index: var(--z-bg);
      }
      .reserve-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        @media (max-width: 1024px) {
          flex-direction: column;
          gap: 1rem;
        }
        .reserve-btn {
          // display: grid;
          // place-items: center;
            .arrow {
              // display: flex;
              // flex-direction: column;
              // align-items: center;
              // justify-content: center;
              // width: max-content;
              .arrow-text {
                padding: .5rem 1rem;
                background-color: var(--red);
                color: var(--white-gray);
                font-size: 1.1rem;
                transition: background-color 0.3s ease;
                &:hover {
                  background-color: #cc326a;
                }
              }
              // .arrow-down {
              // margin-top: -1rem;
              // display: inline-block;
              // animation: arrowDownMove 1.2s infinite cubic-bezier(0.4,0,0.2,1);
              // margin-bottom: 1rem;
              // }
            }
            // .hot-pepper {
            //     display: block;
            //     width: 150px;
            //     height: auto;
            //     cursor: pointer;
            //     img {
            //       width: 100%;
            //       height: 100%;
            //       object-fit: contain;
            //     }
            // }
        }
      }
    }
    .tel-reserve {
      width: 50%;
      padding: 2rem;
      background-color: #ffffff;
      border: solid .5px var(--main-text);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        background-color: var(--main-text);
        z-index: var(--z-bg);
      }
        .tel-list {
          .tel-12 {
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px) {
              font-size: 1.4rem;
            }
            .label {
              width: 9rem;
              @media screen and (max-width: 768px) {
                width: 10rem;
              }
            }
            .number {
              letter-spacing: 0.1em;
              display: flex;
              align-items: center;
              gap: .2rem;
            }
          }
        }
        .reserve-tel-img {
          width: 150px;
          height: auto;
          object-fit: cover;
          margin: 2rem auto;
        }
    }
  }
}

@keyframes bgMove {
  0%   { transform: scale(1.05); opacity: .09;}
  50%   { transform: scale(1); opacity: .9;}
  100% { transform: scale(1.05); opacity: .09;}
}
@keyframes arrowDownMove {
  0%   { transform: translateY(0) scaleY(1);}
  30%  { transform: translateY(10px) scaleY(1.4);}
  60%  { transform: translateY(0) scaleY(1);}
  100% { transform: translateY(0) scaleY(1);}
}
.footer-logo {
  margin: 10rem auto 5rem;
  width: 100%;
  .logo {
    margin: 0 auto;
    width: 100px;
    height: auto;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
//-------------------------------- 
// 地図 
//--------------------------------
.sec-map {
  width: 100%;
  padding: 10rem 0 10rem;
  overflow: hidden;
  .title {
    &::before {
      content: "SALON";
    @media (max-width: 768px) {
      font-size: 8rem;
    }
    @media (max-width: 480px) {
      font-size: 6rem;
    }
    }
  }
  .salon {
    .salon-info {
      background-color: var(--white-gray);
      padding: 2rem;
      margin: 2rem auto;
      @media screen and (max-width: 480px) {
        padding: .5rem;
      }
      li {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        border-bottom: .1px dotted var(--main-text);
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
       @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        }
        .label {
          width: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .label2 {
          width: 10rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  
    .map {
      width: 100%;


      iframe {
        width: 100%;
        height: 600px;
        // min-height: 300px;
        border: 0;
        display: block;

        @media (max-width: 768px) {
          height: 400px;
        }
      }
    }

  }
}


//-------------------------------- 
// プライバシーポリシー 
//--------------------------------
.sec-privacy {
  padding: 10rem 0 0;
  position: relative;
  .title {
    &::before {
      content: "PRIVACY";
      font-size: 10rem;
      @media (max-width: 768px) {
        font-size: 8rem;
      }
      @media (max-width: 480px) {
        font-size: 6rem;
      }
    }
  } 
  .privacy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white-gray);
    padding: 3rem;
  }
}

//-------------------------------- 
// 会社概要 
//--------------------------------
.sec-company {
  padding: 10rem 0 0;
  margin-bottom: 5rem;
  .title {
    &::before {
    font-size: 10rem;
    content: "COMPANY";
    @media (max-width: 768px) {
      font-size: 8rem;
    }
    @media (max-width: 480px) {
      font-size: 6rem;
    }
  }
  }
  .company {
    background-color: var(--white-gray);
    padding: 3rem;
    p {
      .left {
        width: 3rem;
        display: inline-block;
      }
    }
  }
}

//-------------------------------- 
// フッター 
//--------------------------------

footer {
  width: 100%;
  background-color: var(--main-text);
  color: var(--white-gray);
  padding: 3rem 1rem 1rem;
  margin: 0 auto;
  .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @media screen and (max-width: 428px) {
      gap: 1rem;
    }
  }

  .footer-tel {
    width: fit-content;
    margin: 3rem auto;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
      li {
        font-size: 1.1rem;;
      }
      .label {
        width: 8rem;
      }
      .number {
        display: flex;
        align-items: center;
        width: 13rem;
        gap: .1rem;
        letter-spacing: 0.1em;
      }
      .icon-insta {
        font-size: 1.1rem;
      }
    }
  }
  .p-small {
    font-size: .9rem;
    text-align: center;
    @media screen and (max-width: 640px) {
      font-size: 1rem;
    }
  }
}


