// scss/style.scss
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');

// カラープラン
$primary-color: #2E8B57; // 深緑色
$secondary-color: #8B4513; // 茶色
$accent-color: #98FB98; // 薄緑色
$background-color: #FFFDD0; // クリーム色
$text-color: #333333; // ダークグレー
$light-gray: #D3D3D3; // ライトグレー
$white: #FFFFFF; // ホワイト

// リセットcss
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Shippori Mincho', serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ビューポートの高さを確保 */
}
main{
    flex: 1;
}
main,
header,
footer{
    width: 100%;
    max-width: 1200px; /* 最大幅を1000pxに制限 */
    margin: 0 auto; /* 中央揃え */
    padding: 0 5%;
}
header{
    height: 100px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
}
footer{
    height: 100px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    background-color: $background-color;
}
a{
    text-decoration: none;
    color: inherit;
}
.gallery {
    width: 100%;
    height: 400px;
    margin: 0 auto;

    overflow: hidden;
    position: relative;

    .gallery-box {
        display: flex;
        width: calc(400px * 5);
        animation: loop 10s linear infinite reverse;
    }
    img {
        width: 400px;
        height: auto;
        object-fit: cover;
    }
}

@keyframes loop {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

